<!DOCTYPE html>
<html>
<head>
  <title>KarisAwesomeProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

<img src="http://www.clipartbest.com//cliparts/xTg/MEL/xTgMELxTA.gif" style="max-width: 790px; display: block; margin: 0 auto">

</body>
</html>
